.container{
    margin-top: 5%;
    color: #505e6c;
}

@media (max-width:800px) {
    .container form {
        padding:40px;
    }
}

.container form{
    margin-top: 5%;
    margin-bottom: 3%;
}

.container h2 {
    font-size:35px;
    line-height:1.5;
    margin-bottom:80px;
    text-align: center;
}

.avatar-preview{
    margin:auto;
    position:relative;
    top:-100px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 .btn{
     margin-top: 40px;
     width:60%;
     background-color: #595454 !important;
     font-weight: bold !important;
 }

 .btn:hover{
     background-color: #90A8B3!important;
 }

 input{
     background-color: #929292 !important;
     border: none !important;
     color: #F4F3F3 !important;
 }
