body{
    background: #666666;
    color:#cccccc;
}

.all_video{
    /*margin-right:20%;*/
    /*margin-left:20%;*/
}

.video_name:hover{
    font-weight: bold;
    cursor:pointer;
}

.trash_video{
    height: 100%;
    width: 100%;
    text-align: center;
    transition: background-color 1s;
    padding:0 5px;
    border-radius: 100%;
    cursor:pointer
}

.trash_video:hover{
    background-color: #7a7a7a;
}

.bottom_nav{
    position: fixed;
    bottom: 5%;
    height: 4rem;
    padding-right: 5%;

}

