html, body{
    overflow-x:hidden;
    overflow-y:auto!important;
}

.bottom_nav{
    position: relative;
    margin-bottom: 5%;
    height: 4rem;
    padding-right: 5%;

}

.breadcrumb a{
    color: #566bac;
    text-decoration: underline;
}

.container-fluid{
    color:#666666;
    height: 100%;
}

.title {
    font-size: 2.5rem;
    padding-top:1.5%;
}

.top_video{
    height: 45%;
}

.top1_video{
    height: 30%;
}

.top2_video{
    height: 55%;
}

.modify{
    position:absolute;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size:1rem;
    border-radius:100%;
    background: #90a8b3;
}

.anteprima{
    height: 100%;
    width: 20rem;
    /*background: black;*/
    /*color:white;*/
}

.loader {
    height: 100%;
    width: 100%;
    border-left: 1rem solid #666666;
    border-right: 1rem solid #666666;
    border-bottom: 1rem solid #0e2231;
    border-radius: 50%;
    border-top:1rem solid #0e2231;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.percent_analysis{
    width: 100%;
    position:absolute;
    bottom:20%;
}

.loading{
    position:absolute;
    left:42%;
    bottom:10%;
    width: 5.5rem;
    height: 5.5rem;
}
