html, body{
    overflow-x:hidden;
    overflow-y:auto!important;
}


.container-fluid{
    color:#666666;
}

.title {
    font-size: 2.5rem;
    padding-top:1.5%;
}

.created_at{
    font-size:1rem;
}

.top_project{
    height: 40%;
}

.top1_project{
    height: 45%;
}

.top2_project{
    height: 55%;
}

.modify{
    position:absolute;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size:1rem;
    color: #212529;
    border-radius:100%;
    background: #90a8b3;
    transition: background 0.15s ease-in-out;
}

.modify:hover{
    background: #637C87;
}

.row{
    margin:auto;
}

.shared_name{
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
}

a{
    color:inherit;
}

a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.bottom_nav{
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 4rem;
    padding-right: 5%;

}

.trash{
    position: relative;
    height: 23px;
    width: 23px;
    text-align: center;
    transition: background-color 0.15s ease-in-out;
    padding:0;
    border-radius: 100%;
    cursor:pointer;
}

.trash:hover{
    background-color: #999999;
}

.elimina_allert_share{
    margin:3rem;
    font-size: large;
}

.task_title{
    margin-top: 1rem;
    font-size: large;
}

.analysis_contain{
    width:100%;
    margin-top: 1rem;
}

.analysis{
    margin-bottom: 1.5rem;
    height: 2rem;
}

.loader {
    height: 75%;
    padding-top:80%;
    border-left: 0.3rem solid #666666;
    border-top:0.3rem solid #0e2231;
    border-right: 0.3rem solid #666666;
    border-bottom: 0.3rem solid #0e2231;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.percent{
    width: 60%;
    position:absolute;
    bottom:-5%;
}
